html {
    scroll-behavior: smooth;
}

.navbar{
    background-color: #000;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
    .navbar .brand{
        height: fit-content;
        float: left;
    }
        .navbar .brand img{
            height: 55px;
        }
    .navbar .menu{
        width: fit-content;
        margin-left: auto;
        margin-top: 0px;
        margin-bottom: 0px;
    }
        .navbar .menu li{
            display: inline-block;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-right: 30px;
            padding-left: 30px;
            cursor: pointer;
            font-family: Arino;
        }
        .navbar .menu li.active{
            background-color: #fff;
        }
        .navbar .menu li.active a{
            color: #000;
        }
            .navbar .menu li a{
                color: #fff;
                text-decoration: none;
                font-size: 18px;
            }
.header{
    background-image: url(/assets/images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
}
    .header .description{
        display: table;
        background-color: #000;
        color: #fff;
        border-radius: 5px;
        position: absolute;
        bottom: 50px;
        right: 50px;
        width: 600px;
        padding-right: 50px;
        padding-left: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

        .header .description .button{
            background-color: #fff;
        }
        .header .description  p{
            font-size: 18px;
        }

#sobre .half-left img{
    display: block;
    height: 75vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}

#sobre>.half-right h1 {
    font-size: 50px;
}

#sobre>.half-right p {
    font-size: 25px;
}

#servicos>.half-right,
#servicos>.half-left{
    padding-left: 0px;
    padding-right: 0px;
}

#servicos>.half-right{
    background-color: #000;
    color: #fff;
}

    #servicos>.half-right .button{
        background-color: #fff;
        color: #000;
    }

    #servicos>.half-left .button{
        background-color: #000;
        color: #fff;
    }

.service{
    width: 50ch;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 60px;
}
    .service img{
        width: 300px;
        border-radius: 30px;
    }

    .service .button{
        margin-left: auto;
        margin-right: auto;
    }

#contactos{
    background-color: #000;
    color: #fff;
    min-height: fit-content;
}
    #contactos .message input,
    #contactos .message textarea{
        border-color: #fff;
        border-style: solid;
        color: #fff;
    }

    #contactos .message input,
    #contactos .message textarea,
    #contactos .message .button{
        margin-bottom: 30px;
    }

    #contactos .message .button{
        background-color: #fff;
        float: right;
        color: #000;
    }

